/* Coolors Exported Palette - coolors.co/6f1d1b-bb9457-432818-99582a-ffe6a7 */

/* HSL */
$color1: hsla(1%, 61%, 27%, 1);
$color2: hsla(37%, 42%, 54%, 1);
$color3: hsla(22%, 47%, 18%, 1);
$color4: hsla(25%, 57%, 38%, 1);
$color5: hsla(43%, 100%, 83%, 1);

/* RGB */
$color1: rgba(111, 29, 27, 1);
$color2: rgba(187, 148, 87, 1);
$color3: rgba(67, 40, 24, 1);
$color4: rgba(153, 88, 42, 1);
$color5: rgba(255, 230, 167, 1);